In [3]:
import pandas as pd

ModuleNotFoundError: No module named 'pandas'

In [14]:
import pandas as pd

data = {
    "Name": ["John", "Peter"],
    "Age": [23, 78],
    "Salary": [4500, 1334]
}

dataFrame = pd.DataFrame(data)
print(dataFrame)

    Name  Age  Salary
0   John   23    4500
1  Peter   78    1334

In [19]:
import pandas as pd

data={

    "Name1":["Rahul1"],
    "Age":[21]
}
data_frame1=pd.DataFrame(data)
print(data_frame1)

    Name1  Age
0  Rahul1   21

In [22]:

import pandas as pd
data=pd.read_csv("F:/5.1_UDEMY+GITHUB\YoutubeLearning/Python_for_dataScience/Datasets-main/Datasets-main/food_data.csv")
print(data)

      Calories  Protein   Fat  Carbs  Fibre  Unnamed: 5  \
0           73      2.0   NaN   16.0    0.4         NaN
1          129      3.0   NaN   29.0    0.1         NaN
2           45      1.0   1.0    7.0    0.2         NaN
3          206      2.0   4.0   39.0    1.8         NaN
4          296      2.0  14.0   43.0    2.0         NaN
...        ...      ...   ...    ...    ...         ...
1089        22      2.0   NaN    4.0    2.4         NaN
1090        63      3.0   NaN   13.0    2.8         NaN
1091        51      3.0   NaN   11.0    2.7         NaN
1092         6      NaN   NaN    1.0    0.4         NaN
1093        15      1.0   NaN    4.0    1.3         NaN

      Note: Protein, Fat, Carbs, Fibre, are measured in grams
0                                                   NaN
1                                                   NaN
2                                                   NaN
3                                                   NaN
4                                                   NaN
...                                                 ...
1089                                                NaN
1090                                                NaN
1091                                                NaN
1092                                                NaN
1093                                                NaN

[1094 rows x 7 columns]

<>:2: SyntaxWarning: invalid escape sequence '\Y'
<>:2: SyntaxWarning: invalid escape sequence '\Y'
C:\Users\Rahul Rudra\AppData\Local\Temp\ipykernel_14976\2235094655.py:2: SyntaxWarning: invalid escape sequence '\Y'
  data=pd.read_csv("F:/5.1_UDEMY+GITHUB\YoutubeLearning/Python_for_dataScience/Datasets-main/Datasets-main/food_data.csv")