In [4]:
import pandas as pd

data={"Name": ["Rahul Rudra"],
      "Age":[21]}

dataFrame=pd.DataFrame(data)

print(dataFrame)

          Name  Age
0  Rahul Rudra   21

In [6]:
data1=pd.read_csv("F:/5.1_UDEMY+GITHUB/YoutubeLearning/Python_for_dataScience/Datasets-main/datasets-main/pizza_sales/order_details.csv)

SyntaxError: unterminated string literal (detected at line 1) (3203282434.py, line 1)

In [7]:
pd.read_csv("F:/5.1_UDEMY+GITHUB/YoutubeLearning/Python_for_dataScience/Datasets-main/datasets-main/pizza_sales/order_details.csv")

       order_details_id  order_id       pizza_id  quantity
0                     1         1     hawaiian_m         1
1                     2         2  classic_dlx_m         1
2                     3         2  five_cheese_l         1
3                     4         2    ital_supr_l         1
4                     5         2     mexicana_m         1
...                 ...       ...            ...       ...
48615             48616     21348  ckn_alfredo_m         1
48616             48617     21348  four_cheese_l         1
48617             48618     21348   napolitana_s         1
48618             48619     21349     mexicana_l         1
48619             48620     21350      bbq_ckn_s         1

[48620 rows x 4 columns]

In [11]:
data=pd.read_excel("F:/5.1_UDEMY+GITHUB/YoutubeLearning/Python_for_dataScience/Datasets-main/Datasets-main/banking Data")

FileNotFoundError: [Errno 2] No such file or directory: 'F:/5.1_UDEMY+GITHUB/YoutubeLearning/Python_for_dataScience/Datasets-main/Datasets-main/banking Data'

In [10]:
import pandas as pd

data = pd.read_excel(r"F:\5.1_UDEMY+GITHUB\YoutubeLearning\Python_for_dataScience\Datasets-main\Datasets-main\banking Data.xlsx")
print(data)

     Client ID              Name  Age  ... Business Lending  Properties Owned Risk Weighting
0     PKR81288     Raymond Mills   24  ...     1.134475e+06                 1              2
1     PKR65833     Julia Spencer   23  ...     2.000526e+06                 1              3
2     PKR47499    Stephen Murray   27  ...     5.481376e+05                 1              3
3     PKR72498    Virginia Garza   40  ...     1.148402e+06                 0              4
4     PKR60181   Melissa Sanders   46  ...     1.674412e+06                 0              3
...        ...               ...  ...  ...              ...               ...            ...
2995  PKR66827         Earl Hall   82  ...     1.238860e+06                 1              3
2996  PKR40556  Billy Williamson   44  ...     2.771711e+05                 1              2
2997  PKR72414      Victor Black   70  ...     5.029472e+05                 2              2
2998  PKR46652       Andrew Ford   56  ...     1.538369e+06                 3              1
2999  PKR40216        Amy Nguyen   79  ...     3.294125e+05                 1              1

[3000 rows x 25 columns]

In [13]:
data = pd.read_excel("F:/5.1_UDEMY+GITHUB/YoutubeLearning/Python_for_dataScience/Datasets-main/Datasets-main/banking Data.xlsx")
print(data)

     Client ID              Name  Age  ... Business Lending  Properties Owned Risk Weighting
0     PKR81288     Raymond Mills   24  ...     1.134475e+06                 1              2
1     PKR65833     Julia Spencer   23  ...     2.000526e+06                 1              3
2     PKR47499    Stephen Murray   27  ...     5.481376e+05                 1              3
3     PKR72498    Virginia Garza   40  ...     1.148402e+06                 0              4
4     PKR60181   Melissa Sanders   46  ...     1.674412e+06                 0              3
...        ...               ...  ...  ...              ...               ...            ...
2995  PKR66827         Earl Hall   82  ...     1.238860e+06                 1              3
2996  PKR40556  Billy Williamson   44  ...     2.771711e+05                 1              2
2997  PKR72414      Victor Black   70  ...     5.029472e+05                 2              2
2998  PKR46652       Andrew Ford   56  ...     1.538369e+06                 3              1
2999  PKR40216        Amy Nguyen   79  ...     3.294125e+05                 1              1

[3000 rows x 25 columns]

In [16]:
data=pd.read_excel("F:/5.1_UDEMY+GITHUB/YoutubeLearning/Python_for_dataScience/Datasets-main/Datasets-main/banking Data.xlsx")
print(data)

     Client ID              Name  Age  ... Business Lending  Properties Owned Risk Weighting
0     PKR81288     Raymond Mills   24  ...     1.134475e+06                 1              2
1     PKR65833     Julia Spencer   23  ...     2.000526e+06                 1              3
2     PKR47499    Stephen Murray   27  ...     5.481376e+05                 1              3
3     PKR72498    Virginia Garza   40  ...     1.148402e+06                 0              4
4     PKR60181   Melissa Sanders   46  ...     1.674412e+06                 0              3
...        ...               ...  ...  ...              ...               ...            ...
2995  PKR66827         Earl Hall   82  ...     1.238860e+06                 1              3
2996  PKR40556  Billy Williamson   44  ...     2.771711e+05                 1              2
2997  PKR72414      Victor Black   70  ...     5.029472e+05                 2              2
2998  PKR46652       Andrew Ford   56  ...     1.538369e+06                 3              1
2999  PKR40216        Amy Nguyen   79  ...     3.294125e+05                 1              1

[3000 rows x 25 columns]

In [17]:
tenData=data.head(10)
print(tenData)

  Client ID               Name  Age  ... Business Lending  Properties Owned Risk Weighting
0  PKR81288      Raymond Mills   24  ...     1.134475e+06                 1              2
1  PKR65833      Julia Spencer   23  ...     2.000526e+06                 1              3
2  PKR47499     Stephen Murray   27  ...     5.481376e+05                 1              3
3  PKR72498     Virginia Garza   40  ...     1.148402e+06                 0              4
4  PKR60181    Melissa Sanders   46  ...     1.674412e+06                 0              3
5  PKR78532      Samuel Hudson   23  ...     1.556031e+06                 1              2
6  PKR95683  Timothy Alexander   46  ...     1.541116e+05                 1              1
7  PKR40785        Carl Martin   78  ...     1.171457e+06                 0              2
8  PKR13570         Philip Day   67  ...     4.645603e+05                 0              1
9  PKR53299         Jason Sims   51  ...     9.085839e+05                 2              1

[10 rows x 25 columns]

In [18]:
lastTenData=data.tail(10)
print(lastTenData)

     Client ID              Name  Age  ... Business Lending  Properties Owned Risk Weighting
2990  PKR19589       Jane Parker   49  ...     9.138633e+05                 3              2
2991  PKR54576       Heather Day   70  ...     3.739861e+05                 2              1
2992  PKR47226      Steven Welch   56  ...     6.570552e+05                 1              2
2993  PKR33338       Samuel Carr   85  ...     9.234595e+05                 3              3
2994  PKR24309   Daniel Marshall   52  ...     1.805960e+05                 3              5
2995  PKR66827         Earl Hall   82  ...     1.238860e+06                 1              3
2996  PKR40556  Billy Williamson   44  ...     2.771711e+05                 1              2
2997  PKR72414      Victor Black   70  ...     5.029472e+05                 2              2
2998  PKR46652       Andrew Ford   56  ...     1.538369e+06                 3              1
2999  PKR40216        Amy Nguyen   79  ...     3.294125e+05                 1              1

[10 rows x 25 columns]

In [19]:
print(data.info)

<bound method DataFrame.info of      Client ID              Name  Age  ... Business Lending  Properties Owned Risk Weighting
0     PKR81288     Raymond Mills   24  ...     1.134475e+06                 1              2
1     PKR65833     Julia Spencer   23  ...     2.000526e+06                 1              3
2     PKR47499    Stephen Murray   27  ...     5.481376e+05                 1              3
3     PKR72498    Virginia Garza   40  ...     1.148402e+06                 0              4
4     PKR60181   Melissa Sanders   46  ...     1.674412e+06                 0              3
...        ...               ...  ...  ...              ...               ...            ...
2995  PKR66827         Earl Hall   82  ...     1.238860e+06                 1              3
2996  PKR40556  Billy Williamson   44  ...     2.771711e+05                 1              2
2997  PKR72414      Victor Black   70  ...     5.029472e+05                 2              2
2998  PKR46652       Andrew Ford   56  ...     1.538369e+06                 3              1
2999  PKR40216        Amy Nguyen   79  ...     3.294125e+05                 1              1

[3000 rows x 25 columns]>

In [21]:
data=pd.read_csv("F:/5.1_UDEMY+GITHUB/YoutubeLearning/Python_for_dataScience/Datasets-main/Datasets-main/pizza_sales/order_details.csv")

print(data)

       order_details_id  order_id       pizza_id  quantity
0                     1         1     hawaiian_m         1
1                     2         2  classic_dlx_m         1
2                     3         2  five_cheese_l         1
3                     4         2    ital_supr_l         1
4                     5         2     mexicana_m         1
...                 ...       ...            ...       ...
48615             48616     21348  ckn_alfredo_m         1
48616             48617     21348  four_cheese_l         1
48617             48618     21348   napolitana_s         1
48618             48619     21349     mexicana_l         1
48619             48620     21350      bbq_ckn_s         1

[48620 rows x 4 columns]

In [22]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48620 entries, 0 to 48619
Data columns (total 4 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   order_details_id  48620 non-null  int64
 1   order_id          48620 non-null  int64
 2   pizza_id          48620 non-null  object
 3   quantity          48620 non-null  int64
dtypes: int64(3), object(1)
memory usage: 1.5+ MB

In [23]:
data.describe()

       order_details_id      order_id      quantity
count      48620.000000  48620.000000  48620.000000
mean       24310.500000  10701.479761      1.019622
std        14035.529381   6180.119770      0.143077
min            1.000000      1.000000      1.000000
25%        12155.750000   5337.000000      1.000000
50%        24310.500000  10682.500000      1.000000
75%        36465.250000  16100.000000      1.000000
max        48620.000000  21350.000000      4.000000

In [26]:
print(dataFrame.isnull().sum())

Name    0
Age     0
dtype: int64