In [4]:
import pandas as pd

data={"Name": ["Rahul Rudra"],
      "Age":[21]}

dataFrame=pd.DataFrame(data)

print(dataFrame)

          Name  Age
0  Rahul Rudra   21

In [6]:
data1=pd.read_csv("F:/5.1_UDEMY+GITHUB/YoutubeLearning/Python_for_dataScience/Datasets-main/datasets-main/pizza_sales/order_details.csv)

SyntaxError: unterminated string literal (detected at line 1) (3203282434.py, line 1)

In [7]:
pd.read_csv("F:/5.1_UDEMY+GITHUB/YoutubeLearning/Python_for_dataScience/Datasets-main/datasets-main/pizza_sales/order_details.csv")

       order_details_id  order_id       pizza_id  quantity
0                     1         1     hawaiian_m         1
1                     2         2  classic_dlx_m         1
2                     3         2  five_cheese_l         1
3                     4         2    ital_supr_l         1
4                     5         2     mexicana_m         1
...                 ...       ...            ...       ...
48615             48616     21348  ckn_alfredo_m         1
48616             48617     21348  four_cheese_l         1
48617             48618     21348   napolitana_s         1
48618             48619     21349     mexicana_l         1
48619             48620     21350      bbq_ckn_s         1

[48620 rows x 4 columns]