In [1]:
import pandas as pd

data=pd.read_csv("F:/5.1_UDEMY+GITHUB/YoutubeLearning/Python_for_dataScience/Datasets-main/Datasets-main/company1.csv")

print(data)

    EEID      Name gender   salary
0  EMP01    ayushi      F      NaN
1  EMP02     rohit      M  25000.0
2  EMP03  pranjali    NaN  27000.0
3  EMP01    ayushi      F  20000.0
4  EMP05       NaN      M  25000.0
5  EMP06     rohit      M      NaN
6  EMP02     rohit      M  25000.0

In [2]:
print(data.isnull().sum())

EEID      0
Name      1
gender    1
salary    2
dtype: int64

In [3]:
print(data)

    EEID      Name gender   salary
0  EMP01    ayushi      F      NaN
1  EMP02     rohit      M  25000.0
2  EMP03  pranjali    NaN  27000.0
3  EMP01    ayushi      F  20000.0
4  EMP05       NaN      M  25000.0
5  EMP06     rohit      M      NaN
6  EMP02     rohit      M  25000.0

In [4]:
import numpy as np

print(data.replace(np.nan,3000))

    EEID      Name gender   salary
0  EMP01    ayushi      F   3000.0
1  EMP02     rohit      M  25000.0
2  EMP03  pranjali   3000  27000.0
3  EMP01    ayushi      F  20000.0
4  EMP05      3000      M  25000.0
5  EMP06     rohit      M   3000.0
6  EMP02     rohit      M  25000.0

In [5]:
print(data['salary'].mean())

24400.0

In [6]:
import numpy as np

data['salary'] = data['salary'].replace(np.nan, data['salary'].mean())

In [7]:
print(data)

    EEID      Name gender   salary
0  EMP01    ayushi      F  24400.0
1  EMP02     rohit      M  25000.0
2  EMP03  pranjali    NaN  27000.0
3  EMP01    ayushi      F  20000.0
4  EMP05       NaN      M  25000.0
5  EMP06     rohit      M  24400.0
6  EMP02     rohit      M  25000.0

In [8]:
import numpy as np
data['gender']=data['gender'].replace(np.nan, "F")

In [9]:
print(data)

    EEID      Name gender   salary
0  EMP01    ayushi      F  24400.0
1  EMP02     rohit      M  25000.0
2  EMP03  pranjali      F  27000.0
3  EMP01    ayushi      F  20000.0
4  EMP05       NaN      M  25000.0
5  EMP06     rohit      M  24400.0
6  EMP02     rohit      M  25000.0

In [ ]:
data.fillna